<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, inital-scale=1.0" />
    <title>FurEver Mate</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="image_src" href="/onlyCatLogo.png" />

    <link rel="stylesheet" href="/style.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,500;1,400;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/boxicons@latest/css/boxicons.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
  </head>
  <body>
    <header>
      <a href="#" class="logo"><img src="/logo.png" alt="" /></a>
    </header>

    <!-- Add this HTML snippet where you want the sorting and filtering options to appear -->
    <!-- <label for="sort-select">סינון לפי:</label>
      <select id="sort-select" onchange="sortAndFilterCards()">
        <option value="location">אזור</option>
        Add more options if needed -->
    <!-- </select> -->

    <!-- <aside class="filter-section">
      <div class="filter-options">
        <label for="filter-north" class="filter-checkbox-label">
          <input
            type="checkbox"
            id="filter-north"
            value="north"
            class="filter-checkbox"
            onclick="fetchAndFilterCards()"
          />
          צפון
        </label>

        <label for="filter-center" class="filter-checkbox-label">
          <input
            type="checkbox"
            id="filter-center"
            value="center"
            class="filter-checkbox"
            onclick="fetchAndFilterCards()"
          />
          מרכז
        </label>

        <label for="filter-south" class="filter-checkbox-label">
          <input
            type="checkbox"
            id="filter-south"
            value="south"
            class="filter-checkbox"
            onclick="fetchAndFilterCards()"
          />
          דרום
        </label>
      </div>
    </aside> -->
    <aside class="sidebar">
      <div class="filter-section">
        <div class="filter-options">
          <label for="filter-north">צפון</label>
          <input
            type="checkbox"
            id="filter-north"
            value="north"
            class="filter-checkbox"
            onclick="fetchAndFilterCards()"
          />
          <label for="filter-center">מרכז</label>
          <input
            type="checkbox"
            id="filter-center"
            value="center"
            class="filter-checkbox"
            onclick="fetchAndFilterCards()"
          />
          <label for="filter-south">דרום</label>
          <input
            type="checkbox"
            id="filter-south"
            value="south"
            class="filter-checkbox"
            onclick="fetchAndFilterCards()"
          />
        </div>
        <!-- Add more filter options as needed -->
      </div>
    </aside>

    <!-- <div class="filter-options">
      <input
        type="checkbox"
        id="filter-north"
        value="north"
        class="filter-checkbox"
        onclick="fetchAndFilterCards()"
      />
      <label for="filter-north" class="filter-checkbox-label">צפון</label>

      <input
        type="checkbox"
        id="filter-center"
        value="center"
        class="filter-checkbox"
        onclick="fetchAndFilterCards()"
      />
      <label for="filter-center" class="filter-checkbox-label">מרכז</label>

      <input
        type="checkbox"
        id="filter-south"
        value="south"
        class="filter-checkbox"
        onclick="fetchAndFilterCards()"
      />
      <label for="filter-south" class="filter-checkbox-label">דרום</label>
    </div> -->

    <!-- <label for="filter-select">:סינון לפי אזור</label> -->

    <section id="product1" class="cats">
      <div class="cats-container">
        <% cardDetails.forEach((card, index) => { %>
        <div class="row">
          <a href="<%= card.href %>" target="_blank" class="card-link">
            <img src="<%= card.imgSrc %>" alt="" />
          </a>
          <div class="info">
            <h5><%= card.location %></h5>
            <div>
              <i
                id="heart-cat<%= index + 1 %>"
                class="far fa-heart"
                onclick="toggleHeart('cat<%= index + 1 %>')"
              ></i>
            </div>
            <div class="description">
              <h3>
                <%= card.name %> <% if (card.isMale) { %>
                <span class="male-sign"><i class="fas fa-mars"></i></span>
                <% } else { %>
                <span class="female-sign"><i class="fas fa-venus"></i></span>
                <% } %>
              </h3>
              <p><%= card.description %></p>
            </div>
          </div>
        </div>
        <% }); %>
      </div>
    </section>
    <script src="/utils.js"></script>
  </body>
</html>
